.contact-form {
  text-align: center;
  max-width: 500px;
  padding-top: 10rem;
  padding-bottom: 14rem;
  margin-left: 100px;
  color: white;
}

.form-group {
  margin: 10px 0;
  color: white;
  text-align: left;
}

label {
  display: block;
  font-weight: bold;
}

input,
textarea {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  /* background-color: grey; */
  cursor: text;
}

button {
  background-color: #ff0048;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #b5697c;
}
.main-cont-about {
  background-color: rgb(0, 0, 0);
  height: auto;
}

.contact-container {
  display: flex;
  justify-content: space-between;
}

.contact-form {
  width: 50%;
}

.flex-comp-contact {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
/* Contact.css */
.contact-info {
  background-color: #222;
  color: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  width: 20%;
}

.contact-info h2 {
  font-size: 25px;
  margin: 0 0 15px;
  text-align: center;
}

.contact-info ul {
  list-style: none;
  padding: 0;
}

.contact-info li {
  margin: 10px 0;
  text-align: center;
}

.contact-info i {
  margin-right: 10px;
  font-size: 18px;
}

.contact-info a {
  color: #ff0033;
  text-decoration: none;
}

.contact-info a:hover {
  text-decoration: underline;
}

.social-links {
  text-align: center;
}
